<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="row m-b-18px">
  <div class="col-md-12">
    <a (click)="readCds()" class='btn btn-primary pull-left' style="background-color: chocolate">
      <span class='glyphicon glyphicon-list'></span> Discos-Discs
    </a>
  </div>
</div>

<!-- HTML form for creating a cd -->
<div class="row">
  <div class="col-md-12"><br><br>

    <!--
        1. Bind our HTML form to Angular using [formGroup]
        2. If form was submitted, call createCd() method of CreateCdComponent
    -->
    <form [formGroup]="create_cd_form" (ngSubmit)="createCd()">
      <table class="table table-hover table-responsive table-bordered table-striped table-condensed">
        <tr>
          <td><b>Título/Title</b></td>
          <td>
            <!-- Bind this input field to our 'angular form field' using formControlName -->
            <input
              placeholder="string/Disc Title - corda/Título do Disco"
              formControlName="Title"
              name="Title" type="text"
              class="form-control" required />

            <!-- show this error if the field is 'empty' and 'touched' -->
            <div
              *ngIf="create_cd_form.get('Title').touched && create_cd_form.get('Title').hasError('required')"
              class="alert alert-danger">
              Title is required.
            </div>
          </td>
        </tr>

        <tr>
          <td><b>Capacidade/Capacity</b></td>
          <td>
            <input
              placeholder="numbers/Disc Capacity - números/Capacidade do Disco"
              formControlName="Capacity"
              type="number" name="Capacity"
              class="form-control" required />

            <!-- show this error if the field is 'empty' and 'touched' -->
            <div
              *ngIf="create_cd_form.get('Capacity').touched && create_cd_form.get('Capacity').hasError('Capacity')"
              class="alert alert-danger">
              Capacity is required.
            </div>
          </td>
        </tr>
        <tr>
          <td><b>Uso de Dados/Data Usage</b></td>
          <td>
            <input
              placeholder="numbers/Data Usage - números/Uso de Dados"
              formControlName="DataUsage"
              type="number" name="DataUsage"
              class="form-control" required />

            <!-- show this error if the field is 'empty' and 'touched' -->
            <div
              *ngIf="create_cd_form.get('DataUsage').touched && create_cd_form.get('DataUsage').hasError('DataUsage')"
              class="alert alert-danger">
              Data Usage is required.
            </div>
          </td>
        </tr>
        <tr>
          <td><b>Descrição/Description</b></td>
          <td>
            <textarea
              placeholder="string/Description  - corda/Descrição"
              formControlName="Desribe"
              name="Desribe" class="form-control" required></textarea>

            <!-- show this error if the field is 'empty' and 'touched' -->
            <div
              *ngIf="create_cd_form.get('Desribe').touched && create_cd_form.get('Desribe').hasError('required')"
              class="alert alert-danger">
              Description is required.
            </div>
          </td>
        </tr>

        <tr>
          <td><b>Catálogo/Collection</b></td>
          <td>
            <select formControlName="CollectionId" name="CollectionId" class="form-control">
              <option *ngFor="let collection of collection" value="{{collection.CollectionId}}">
                {{collection.NAME}}
              </option>
            </select>
            <!-- show this error if the field is 'empty' and 'touched' -->
            <div
              *ngIf="create_cd_form.get('CollectionId').touched && create_cd_form.get('CollectionId').hasError('required')"
              class="alert alert-danger">
              Collection is required.
            </div>
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            <!-- disable the submit button if the form is 'invalid' -->
            <button class="btn btn-primary" type="submit" [disabled]="create_cd_form.invalid"style="background-color: chocolate">
              <span class="glyphicon glyphicon-plus" ></span> Create
            </button>
          </td>
        </tr>
      </table>
    </form>

  </div>
</div>
