<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body text-warning text-center">Are you sure - Você tem certeza</div>
      <div class="panel-footer clearfix">
        <div class="text-align-center text-center">

          <!-- if 'Yes' button was clicked, delete the record and go back to records list -->
          <button (click)="deleteCd()" class="btn btn-danger m-r-5px">
            <span class="glyphicon glyphicon-ok-sign"></span> Yes-Sim
          </button>

          <!-- if 'No' button was clicked, go back to records list -->
          <button (click)="readCds()" class="btn btn-primary">
            <span class="glyphicon glyphicon-remove-sign"></span> No-Não
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3"></div>
</div>
