<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="row m-b-18px">
  <div class="col-md-12">
    <!-- button to create new cd -->
    <a (click)="createMyCd()" class='btn btn-primary pull-right' style="background-color: chocolate">
      <span class='glyphicon glyphicon-plus' style="background-color: chocolate"></span> Crio/Create Disc
    </a>
    <a (click)="ShowCollections()" class='btn btn-primary pull-left' style="background-color: chocolate">
      <span class='glyphicon'  ></span> Collections-Catálogo
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12"><br><br>


    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-search"></i></div>
      <input type="text" class="form-control" placeholder="Search Discs - Pesquisar discos" [(ngModel)]="searchCd">
    </div>

    <!-- HTML table for our list of cd records -->
    <table class='table table-hover table-responsive table-bordered table-striped table-condensed'>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Collection</th>
        <th>Capacity</th>
        <th>Data Usage</th>
        <th class="col-lg-5">Description</th>
        <th class="col-md-3" ></th>
      </tr>

      <!-- Use *ngFor directive to loop throught our list of cds. -->
      <tr *ngFor="let cd of cds | searchfilter : searchCd">
        <td>{{cd.CdId}}</td>
        <td>{{cd.Title}}</td>
        <td>{{cd.NAME}}</td>
        <td>{{cd.Capacity}}</td>
        <td>{{cd.DataUsage}}</td>
        <td>{{cd.Desribe}}</td>
        <td>
          <!-- read one cd button -->
          <a (click)="readOneCdBtn(cd.CdId, cd.CollectionId)" class='btn btn-primary m-r-5px'>
            <span class='glyphicon  glyphicon-folder-open'></span> Details
          </a>

          <!-- edit cd button -->
          <a (click)="updateCd(cd.CdId,cd.CollectionId)" class='btn btn-info m-r-5px'>
            <span class='glyphicon glyphicon-edit'></span> Edit
          </a>

          <!-- delete cd button -->
          <a (click)="deleteCd(cd.CdId,cd.CollectionId)" class='btn btn-danger m-r-5px'>
            <span class='glyphicon glyphicon-remove'></span> Delete
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>

